/Rulebase/nbproject/
/Rulebase/build/
/GetCreditScore/target/
/RecipientList/target/
/GetBanks/target/
/RuleBase_Maven/target/
/Translators/JSONTranslator/target/
/Normalizer/target/
/Translators/XMLTranslator/target/
/Aggregator/target/